<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>productalyourhome.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background:#1111">
<nav class="navbar navbar-dark bg-dark py-1">
    <a href="/login" class="btn btn-primary btn-sm mx-4">Login</a>
</nav>
<div class="mask d-flex align-items-center h-100 gradient-custom-3 col-sm-4"
     style="margin-left:450px;margin-top:0px;border-radius:15px;background:white">
    <center><h1><b>Create Your Account</h1></center>
    <hr>

    {% if messages %}
    <div class="alert alert-danger" role="alert" style="padding:5px">
        {% for i in messages %}
        <div class="alert-link">{{i}}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <label class="form-label">Name</label>
        <input class="form-control" type="text" placeholder="Customer Name" name="sname">

        <label class="form-label" style="margin-top:5px">Email Address</label>
        <input class="form-control" type="email" placeholder="Email Address" name="email">

        <label class="form-label" style="margin-top:5px">Mobile</label>
        <input class="form-control" type="text" placeholder="Mobile number" name="mobile">

        <label class="form-label" style="margin-top:5px">Password</label>
        <input class="form-control" type="password" placeholder="Password" name="password1">

        <label class="form-label" style="margin-top:5px">Confirm Password</label>
        <input class="form-control" type="password" placeholder="Confirm Password" name="password2">

        <input type="submit" value="Signup" class="btn btn-primary btn-lg btn-block"
               style="margin-bottom:10px;margin-top:10px;padding:5px">
    </form>
    <center> if already have account? <a href="/login">Login</a>
</div>
</body>
</html>
